#nama {
	text-align: center;
	border-style: solid;
	border-color: white;
	color: white;
	text-transform: uppercase;
	opacity: 1;
}

.card-text ul {
	list-style-type: none;
}

.jumbotron {
	    position: relative;
	/*background-image: url('./5940.jpg' );*/
	  background: linear-gradient(to bottom right, #e74c3c, #f1c40f);
    background-size: cover;


    margin-bottom: 0px;
}

.job-description {
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin-top: 16px;

}

.social-link {
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin: 5px;

}
.social-link-bawah {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin: 5px;

}

.service-section i {
	font-size: 100px;
	color: #E65100;
}
.social-link:hover 
{
     color:gray; 
     text-decoration:none; 
     cursor:pointer;  
}
.container-fluid {
    padding: 60px 50px;

}

.about-me {
	background-color:#FAFAFA;
}


.img {
	width: 100%;
	  border-radius: 25px;
}
.logo {
    font-size: 1000px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}